EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_replace_with_your_clerk_development_publishable_key
CLERK_SECRET_KEY=sk_test_replace_with_your_clerk_development_secret_key
CLERK_JWT_KEY="-----BEGIN PUBLIC KEY-----\nreplace_with_your_clerk_jwt_public_key_pem\n-----END PUBLIC KEY-----"
EXPO_PUBLIC_API_URL=http://localhost:8081

POSTHOG_PROJECT_TOKEN=phc_replace_with_your_posthog_project_token
POSTHOG_HOST=https://eu.i.posthog.com

STREAM_API_KEY=replace_with_your_stream_api_key
STREAM_API_SECRET=replace_with_your_stream_api_secret
OPENAI_API_KEY=replace_with_your_openai_api_key